.first-cell {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #808080;
    line-height: 1.4;
    width: 265px;
    padding-left: 42px;
    padding-top: 18px;
    padding-bottom: 14px;
    padding-right: 10px;
    font-weight: unset;
    cursor: pointer;
}

.cell-over {
    background-color: #6c7ae0;
    color: #fff;
}